#content {
	width: 906px;
	border: 1px solid #000;
	margin: 0px auto;
	overflow: hidden;
}

.column-boxes {
	border: 1px solid #000;
	width: 300px;
	position: relative;
	float: left;
	vertical-align: top;
}
